*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
}

.sfondo {
    background-image:url(../img/pattern.png) ;
    background-color: cornflowerblue;
    background-size: 350px;
    background-repeat: repeat;
    
    
    
    height: 90px;
    
    
}

#logo{
    
    height: 55px;
    margin-left: 10px;
    margin-top: 30px;
    
}

.tim{
    margin: 20px 10px;
}
    